<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <title>Seleções - Copa do Mundo</title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <nav class="navbar">
            <div class="nav-logo">⚽ CopaAPI</div>
            <ul class="nav-links">
                <li><a href="/">Início</a></li>
                <li><a href="/escalacao">Seleção</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
        <main class="container">
            <h1>Elenco Oficial - Copa 2026</h1>
            <p class="subtitulo">
                Confira os 26 convocados e a comissão técnica da Seleção
                Brasileira.
            </p>

            <div id="lista-jogadores" class="grid-jogadores"></div>
        </main>
        <script src="/script.js"></script>
    </body>
</html>
