<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <title>Copa do Mundo API</title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <nav class="navbar">
            <div class="nav-logo">⚽ CopaAPI</div>
            <ul class="nav-links">
                <li><a href="/">Início</a></li>
                <li><a href="/escalacao">Seleção</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
        <main class="container">
            <div class="apresentacao">
                <h1>Projetinho da Scitec no vibe copa</h1>

                <p class="subtitulo">
                    Conheça os 26 guerreiros escolhidos por Carlo Ancelotti para
                    representar o Brasil na Copa de 2026.
                </p>

                <a href="/escalacao" class="btn-principal"
                    >Ver Elenco Oficial 2026 🇧🇷</a
                >
                <h1>RUMO AO HEXAAA</h1>
            </div>
        </main>
    </body>
</html>
